body {
    background-color: white;
}

.container {
width:100%;
background-color: white;
height:auto;
text-align: center;
align-content: center;
}

.collapsible-header {
    display: block;
    align-content:center;
}

#form {
    align-items: center;
}
#name {
    border-style: solid;
    border-color: purple;
}

#username {
    border-style: solid;
    border-color: orange;
}

#facebook {
    border-style: solid;
    border-color: aqua;
}

#instagram {
    border-style: solid;
    border-color: hotpink;
}

#phone {
    border-style: solid;
    border-color: purple;
}

#email {
    border-style: solid;
    border-color: orange;
}

#character {
    border-style: solid;
    border-color: aqua;
}

#series {
    border-style: solid;
    border-color: hotpink;
}

#genre {
    border-style: solid;
    border-color: purple;
}

#group {
    border-style: solid;
    border-color: orange;
}

#bottom-buttons {
    padding:2em;
}

#password {
    border-style: solid;
    border-color: aqua;
}

#password-re {
    border-style: solid;
    border-color: hotpink;
}

#login-btn {
    background-color:aqua;
    border-style: solid;
    border-color: purple;
    height:40px;
    color:black;
    font-weight: bold;
}

#signup-btn {
    background-color: purple;
    border-style: solid;
    border-color: aqua;
    color: white;
    height:40px;
    font-weight:bold;
}

#submit-btn {
    background-color: purple;
}

nav {
    background-color: aqua;
    text-align: right;
    height:5em;
    width:auto;
    padding-left: 2em;
    padding-right: 2em;
}

#logo {
    height: 6em;
    margin-top:-.5em;
    align-content: center;
}

#hamburger {
    text-align: left;
}

nav i.material-icons {
font-size: 50px;
}

.page-title {
    font-size: 30px;
    color: hotpink;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#logo-home {
    height:20em;
    width:20em;
    text-align: center;
}

#join {
    height:20em;
    width:20em;
}
#sign-in {
   
    height:20em;
    width:20em;
}
#register {
    height:20em;
    width:20em;
}


#logo-menu {
    height: 10em;
    margin-left:5em;
}

.divider {
    height:3px;
    background-color: aqua;
}

.form-content{
}

#login-modal{
    padding: 2em;
    text-align: center;
 
}

#details-btn {
    margin-top: 2em;
    background-color: aqua;
    color: black;
    border-color: purple;
    border-style: solid;
    height:auto;
}

#index-btn {
    margin-top: 2em;
    background-color: purple;
    border-color: aqua;
    border-style: solid;
    height:auto;
}

.modal.bottom-sheet {
    max-height: 100%;
}

#checkbox {
    text-align: center;
}
